
body {
    background-color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 56px;
    font-weight: 700;
    color: #333;
}

span.value{
    color: #506BCA;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.column {
    width: 30%;
    padding: 0;
    box-sizing: border-box;
}

.panel {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.panel-body {
    display: flex;
    padding: 0;
}

.panel-left {
    flex: 1;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.panel-right {
    flex: 2;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #333;
}

.list {
    list-style-type: disc;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 700;
}

.list li::marker {
    color: #d2ad82;
}

.description {
    margin-top: 10px;
    color: #666;
    font-size: 15px;
    font-weight: 600;
}

.panel:hover {
    background-color: #f9f9f9;
}

.column {
    margin: 10px;
}

.button-container {
    text-align: center;
    margin-top: 40px;
}

.action-button {
    background-color: #1B264F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 315px;
    height: 60px;
}

.action-button:hover {
    background-color: #08133b;
}
